body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

.body2 {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp9464856.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.body3 {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: red;
  background-image: url(https://mundoconectado.com.br/uploads/chamadas/carros-na-estrada-imagem-divulgacao-disney.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bodyH {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(190, 2, 2);
  background-image: url(https://ae01.alicdn.com/kf/Hbcd78430b036422281159d2b9eafd827o/Pintura-de-tela-animada-disney-p-ster-e-carro-mcqueen-hd-impress-o-fam-lia-arte.jpg_640x640.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 40px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #ffd700;
  background-color: rgb(190, 2, 2);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #ffd700;
}

.logo_img {
  width: 140px;
  height: 80px;
}

.header2 {
  height: var(--tamanho-header);
  background-color: rgb(190, 2, 2);
  border-bottom: 2px solid #ffd700 ;
}

.header2 .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header2 a {
  text-decoration: none;
  color: #ffd700;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffd700;
}

.navbar a{
  transition-duration: 0.3s;
}
.navbar a:hover{
  color: rgb(172, 126, 1);
}
.titulo {
  color: #ffd700;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

.banner {
  height: var(--tamanho-banner);
  background-image: url(https://i.pinimg.com/originals/43/5f/d3/435fd377bcbfe072591ba4f9ff443ef3.jpg);
  display: flex;
  background-size: cover;
}

.banner .container {
  justify-content: start;
  align-items: top;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: #000000;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
  color: #ffd700;
}

.social {
  background-color: #ffffff;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000046;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: #000000 5px 5px;
  border: 3px solid rgb(255, 0, 0);
  transition-duration: 0.3s;
}

.box:hover {
  color: rgb(190, 2, 2);
  transform: scale(1.1)
}

.box p {
  text-align: center;
}

.social2 {
  background-color: #ffffff;
  display: flex;
}

.social2 .container2 {
  justify-content: center;
}

.social2  {
  background-image: url(https://eikhu9b6e94.exactdn.com/wp-content/uploads/2020/04/img_1319.jpg?strip=all&lossy=0&quality=80&webp=80&avif=80&ssl=1);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.historia {
  background-color: #fffcfc94;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  margin: 15px;
  /*   
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px; 
  */
}

.historia2 {
  background-color: #00000075;
  border-radius: 15px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.login {
  height: 600px;
  width: 1349;
  background-image: url(https://wallpaperaccess.com/full/1310629.jpg);
  background-size: contain;
}

.login .container {
  justify-content: end;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  background-color: rgb(190, 2, 2);
  background-image: url(https://i.pinimg.com/originals/5a/81/e0/5a81e00ea6f140c929de8a9a557e4d09.png);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #ffffff;
  row-gap: 20px;
  box-shadow: 10px 15px #000000;
  border: 3px solid #ffd700;
}

.card-cadastro {
  height: 80%;
}

.card-login {
  height: 60%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #ffd700;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #ffd900;
  width: 100%;
  height: 30px;
  align-self: center;
  box-shadow: 5px 5px;
  transition-duration: 0.5s;
}

.botao:hover {
  color: red;
}

.botao:active {
  color: #ffd700;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ffd700 3px solid;
  padding: 10px;
  margin-right: 75%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.footer {
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #ffd700;
  color: #fff;
}

.footer h4 {
  margin: 0;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white; 
}

.simulador .container {
  flex-direction: column;
  height: var(--tamanho-simulador);
}

.img_história {
  display: flex;
  height: 150px;
  width: 50%;
  justify-content: end;
}

.mural {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.mural .descriçao {
  display: flex;
  flex-direction: column;
  background-color: rgba(190, 2, 2, 0.466);
  border-radius: 10px;
  border: 3px solid #ffd700;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: auto;
  transition-duration: 0.5s;
}

.mural .img {
  height: 197.88px;
  width: 306px;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.mural .img:hover{
  transform: scale(1.1)
}

.descriçao:hover {
  color: #fffb00;
}

.perguntas {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000046;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid rgb(255, 0, 0);
  margin-left: 40%;
}

.perguntas span{
  color: white;
}

.botaoS {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #ff000077;
  height: 30px;
  align-self: center;
  box-shadow: 3px 3px;
  transition-duration: 0.4s;
}

.botaoS:hover {
  color: red;
}

.botaoS:active {
  color: #000000;
}

.desafio {
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  background-color: #00000088;
  border-radius: 20px;
  border: 3px solid red;
  color: #ffd700;
  height: 120px;
  width: 350px;
}

.botaoD {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #ffd900;
  width: 70%;
  height: 30px;
  align-self: center;
  box-shadow: 3px 3px;
  transition-duration: 0.5s;
}

.botaoD:hover {
  color: red;
}

.botaoD:active {
  color: #ffd700;
}

.resultado{
  color: rgb(255, 255, 255);
  background-color: #00000091;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin-left: 35%;
  border: 3px solid rgb(255, 0, 0);
}

.tituloS{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.356);
  color:rgb(190, 2, 2);
  width: 50%;
  margin-left: 28%;
  margin-top: 35px;
  border: 3px solid rgb(190, 2, 2);
  border-radius: 15px;
}

.dash {
  display: flex;
}

.grafico {
  background-color: rgba(0, 0, 0, 0.575);
  height: 300px;
  width: 600px;
  margin-top: 5%;
  margin-left: 28%;
  border-radius: 7px;
}

.h1 {
  background-color: rgba(0, 0, 0, 0.466);
  color:#ffd700;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 38%;
  margin-top: 35px;
  border: 3px solid #ffd700;
  border-radius: 15px;
}